body{
    background-color: #171b32;
    font-family: 'Times New Roman', Times, serif;
}

.product-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: aliceblue;
    
}

.header{
    font-size: 50px;
}

.details{
    font-size: 50px;
}
.second-container{
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    gap: 70px;
    

}

.intro{
    color: aliceblue;
    height: 300px;
    width: 400px; 
     flex: 1;
     font-size: 50px;
     margin-bottom: 500px;
     padding: 30px;
}
 
.jpg{
    flex: 1;
    margin-bottom: 50px;
   
}
.button{
    background-color: #17b0e9;
    width: 200px;
    border-radius: 10px;
    padding-left: 20px;
    
}



.third-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 100px;
 
    
}

.some-products{
    text-align: center;
    background-color: aliceblue;
    margin-top: 30px;
    padding: 20px;
   flex: 1;
   font-size: 60px;
}

.others{
    color:#194d76;
    background-color: #dfe6ff;
    padding: 20px;
    text-align: center;
    list-style: none;
    font-size: 50px;
   
}


.ending-container{
    background-color: aliceblue;
    border-radius: 5px;
    padding: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.last{
    background-color: #17b0e9 ;
    color: #dfe6ff;
    padding: 50px;
    width: 50%;
    border-radius: 20px;
    flex: 1;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 40px;
   

   
}

.click{
    border-radius: 5px;
    border:5px solid white;
   width: 100px;
   padding: 10px;
   padding-left: 10px;
    
}

footer{
    margin-top: 20px;
    text-align: center;
    color: #dfe6ff;
    font-size: 70px;
}


@media (max-width: 1250px) {
    .product-container{
        flex-direction: column;
        height:100%
    }

    .second-container{
        flex-direction: column;
        height: 100%;
    }

    .third-container{ 
        flex-direction: column;
        height: 100%;
    }
    
    .ending-container{
        flex-direction: column;
        height: 100%;
    }
}